:root {
    --nepSweeper-sprite-sheet: url('../images/minesweeper/original2.gif');
    --nepSweeper-sprite-sheet-color: #c88491;
    --nepSweeper-zoomLevel: scale(1) translate(-50%, -50%);
    --nepSweeper-menuZoomLevel: scale(1);
}

body:has(> .nepSweeper-secretContainer) {
    overflow: hidden;
}

.nepSweeper-secretContainer {
    display: block;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nepSweeper-secretContainerClose, .nepSweeper-leaderBoardClose {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: fit-content;
    cursor: pointer;
    margin: 0 auto;
}

.nepSweeper-secretContainerClose::before, .nepSweeper-leaderBoardClose::before {
    content: "X";
    display: inline-block;
    height: 4vh;
    width: 4vh;
    text-align: center;
    font-size: 3em;
    padding: 2vh;
}

.nepSweeper-gameWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: var(--nepSweeper-zoomLevel);
}

.optionsContainer {
    transform: var(--nepSweeper-menuZoomLevel);
}

.gameContainer {
    background-color: var(--nepSweeper-sprite-sheet-color);
    margin: 0 auto;
}

.nepSweeper-leaderBoardWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    padding: 20px;
    background-color: #fff;
    z-index: 200;
    border-radius: 15px;
    border: 2px solid black;
}

.nepSweeper-leaderBoardWrapper * {
    font-size: calc(0.8vw + 0.8vh);
}

.nepSweeper-leaderBoardScoresWrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: calc(3vh + 3vw);
}

.nepSweeper-leaderBoardList {
    padding-left: 20px;
}

.nepSweeper-leaderBoardDifficultyWrapper {
    margin-right: 0.5vw;
}

.gameSprite1 {
    float: left;
    background-image: var(--nepSweeper-sprite-sheet);
    margin: 0;
    line-height: 0;
    font-size: 0;
    width: 16px;
    height: 16px;
}

.gameSprite1.topLeftCornerBorder {
    background-position: 0 -81px;
    width: 10px;
    height: 10px;
}

.gameSprite1.topRightCornerBorder {
    background-position: -10px -81px;
    width: 10px;
    height: 10px;
}

.gameSprite1.bottomLeftCornerBorder {
    background-position: -20px -81px;
    width: 10px;
    height: 10px;
}

.gameSprite1.bottomRightCornerBorder {
    background-position: -30px -81px;
    width: 10px;
    height: 10px;
}

.gameSprite1.leftConnectionBorder {
    background-position: -66px -81px;
    width: 10px;
    height: 10px;
}

.gameSprite1.rightConnectionBorder {
    background-position: -56px -81px;
    width: 10px;
    height: 10px;
}

.gameSprite1.horizontalBorder {
    background-position: -40px -81px;
    height: 10px;
}

.gameSprite1.verticalBorder {
    background-position: -134px -39px;
    width: 10px;
}

.gameSprite1.longVerticalBorder {
    background-position: -134px -39px;
    width: 10px;
    height: 32px;
}

.gameSprite1.hiddenTile {
    background-position: 0 -39px;
}

.gameSprite1.hiddenTile.pressed {
    background-position: 0 -23px;
}

.gameSprite1.tile0 {
    background-position: 0 -23px;
}

.gameSprite1.tile1 {
    background-position: -16px -23px;
}

.gameSprite1.tile2 {
    background-position: -32px -23px;
}

.gameSprite1.tile3 {
    background-position: -48px -23px;
}

.gameSprite1.tile4 {
    background-position: -64px -23px;
}

.gameSprite1.tile5 {
    background-position: -80px -23px;
}

.gameSprite1.tile6 {
    background-position: -96px -23px;
}

.gameSprite1.tile7 {
    background-position: -112px -23px;
}

.gameSprite1.tile8 {
    background-position: -128px -23px;
}

.gameSprite1.tileM {
    background-position: -64px -39px;
}

.gameSprite1.tileMCross {
    background-position: -48px -39px;
}

.gameSprite1.tileMWrong {
    background-position: -32px -39px;
}

.gameSprite1.tileF {
    background-position: -16px -39px;
}

.mineContainer1, .timeContainer1 {
    float: left;
    margin: 4px 6px;
}

.mineContainer1 div, .timeContainer1 div {
    width: 13px;
    height: 24px;
}

.gameSprite1.counter0 {
    background-position: 0 0;
}

.gameSprite1.counter1 {
    background-position: -13px 0;
}

.gameSprite1.counter2 {
    background-position: -26px 0;
}

.gameSprite1.counter3 {
    background-position: -39px 0;
}

.gameSprite1.counter4 {
    background-position: -52px 0;
}

.gameSprite1.counter5 {
    background-position: -65px 0;
}

.gameSprite1.counter6 {
    background-position: -78px 0;
}

.gameSprite1.counter7 {
    background-position: -91px 0;
}

.gameSprite1.counter8 {
    background-position: -104px 0;
}

.gameSprite1.counter9 {
    background-position: -117px 0;
}

.gameSprite1.counter- {
    background-position: -130px 0;
}

.gameSprite1.masterButton {
    background-position: 0 -55px;
    height: 26px;
    width: 26px;
}

.gameSprite1.masterButtonPressed {
    background-position: -26px -55px;
    height: 26px;
    width: 26px;
}

.gameSprite1.masterButtonO {
    background-position: -52px -55px;
    height: 26px;
    width: 26px;
}

.gameSprite1.masterButtonLose {
    background-position: -78px -55px;
    height: 26px;
    width: 26px;
}

.gameSprite1.masterButtonWin {
    background-position: -104px -55px;
    height: 26px;
    width: 26px;
}

.gameSprite2 {
    float: left;
    background-image: var(--nepSweeper-sprite-sheet);
    margin: 0;
    line-height: 0;
    font-size: 0;
    width: 32px;
    height: 32px;
}

.gameSprite2.topLeftCornerBorder {
    background-position: 0 -162px;
    width: 20px;
    height: 20px;
}

.gameSprite2.topRightCornerBorder {
    background-position: -20px -162px;
    width: 20px;
    height: 20px;
}

.gameSprite2.bottomLeftCornerBorder {
    background-position: -40px -162px;
    width: 20px;
    height: 20px;
}

.gameSprite2.bottomRightCornerBorder {
    background-position: -60px -162px;
    width: 20px;
    height: 20px;
}

.gameSprite2.leftConnectionBorder {
    background-position: -132px -162px;
    width: 20px;
    height: 20px;
}

.gameSprite2.rightConnectionBorder {
    background-position: -112px -162px;
    width: 20px;
    height: 20px;
}

.gameSprite2.horizontalBorder {
    background-position: -80px -162px;
    height: 20px;
}

.gameSprite2.verticalBorder {
    background-position: -268px -78px;
    width: 20px;
}

.gameSprite2.longVerticalBorder {
    background-position: -268px -78px;
    width: 20px;
    height: 64px;
}

.gameSprite2.hiddenTile {
    background-position: 0 -78px;
}

.gameSprite2.hiddenTile.pressed {
    background-position: 0 -46px;
}

.gameSprite2.tile0 {
    background-position: 0 -46px;
}

.gameSprite2.tile1 {
    background-position: -32px -46px;
}

.gameSprite2.tile2 {
    background-position: -64px -46px;
}

.gameSprite2.tile3 {
    background-position: -96px -46px;
}

.gameSprite2.tile4 {
    background-position: -128px -46px;
}

.gameSprite2.tile5 {
    background-position: -160px -46px;
}

.gameSprite2.tile6 {
    background-position: -192px -46px;
}

.gameSprite2.tile7 {
    background-position: -224px -46px;
}

.gameSprite2.tile8 {
    background-position: -256px -46px;
}

.gameSprite2.tileM {
    background-position: -128px -78px;
}

.gameSprite2.tileMCross {
    background-position: -97px -78px;
}

.gameSprite2.tileMWrong {
    background-position: -64px -78px;
}

.gameSprite2.tileF {
    background-position: -32px -78px;
}

.mineContainer2, .timeContainer2 {
    float: left;
    margin: 8px 12px;
}

.mineContainer2 div, .timeContainer2 div {
    width: 26px;
    height: 46px;
}

.gameSprite2.counter0 {
    background-position: 0 0;
}

.gameSprite2.counter1 {
    background-position: -26px 0;
}

.gameSprite2.counter2 {
    background-position: -52px 0;
}

.gameSprite2.counter3 {
    background-position: -78px 0;
}

.gameSprite2.counter4 {
    background-position: -104px 0;
}

.gameSprite2.counter5 {
    background-position: -130px 0;
}

.gameSprite2.counter6 {
    background-position: -156px 0;
}

.gameSprite2.counter7 {
    background-position: -182px 0;
}

.gameSprite2.counter8 {
    background-position: -208px 0;
}

.gameSprite2.counter9 {
    background-position: -234px 0;
}

.gameSprite2.counter- {
    background-position: -260px 0;
}

.gameSprite2.masterButton {
    background-position: 0 -110px;
    height: 52px;
    width: 52px;
}

.gameSprite2.masterButtonPressed {
    background-position: -52px -110px;
    height: 52px;
    width: 52px;
}

.gameSprite2.masterButtonO {
    background-position: -104px -110px;
    height: 52px;
    width: 52px;
}

.gameSprite2.masterButtonLose {
    background-position: -156px -110px;
    height: 52px;
    width: 52px;
}

.gameSprite2.masterButtonWin {
    background-position: -208px -110px;
    height: 52px;
    width: 52px;
}